.layout{
  display: flex;
  min-height: 100vh;
  

}

.main-content{
  flex: 1;
  min-width: 0;
  margin-left: 188px;
  padding: 10px;
  position: relative;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}

.search{
  border-color: antiquewhite;
}