.layout{
  display: flex;
  min-height: 100vh;
  

}

.main-content{
  flex: 1;
  min-width: 0;
  margin-left: 188px;
  padding: 10px;
  position: relative;
}

.search{
  border-color: antiquewhite;
}