.trip-card{
    border: 1px solid var(--text-muted);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--card);
    text-align: start;
    position: relative;
    width: 250px;
    flex-shrink: 0;
    height: 150px;
    box-sizing: border-box
}

.trip-card:hover{
    
    transition: 0.2s;
}

.trip-details{
    padding: 0.5rem 1rem;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.trip-card img{
   width: 100%;
   object-fit:cover;
   height: 100%;
   display: block;
}

span, p{
    color: var(--text-h);
    margin: 0;
}

p{
    font-size: 14px;
}
span{
    font-size: 12px;
}

.trip-stats{
    display: flex;
    justify-content: space-between;
}