.trip-gallery{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    margin: 0.25rem 0rem;
    margin-left: 0;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

.trip-gallery::-webkit-scrollbar {
    display: none; 
}

.carousel{
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 1rem;
}

.overlay{
position: absolute;
right: 0;
top: 0;

width: 150px;
height: 100%;

background: linear-gradient(
    to left,
    var(--bg),
    transparent
);
}

.recent-trips{
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
}
